<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Home">
    <ng-template mat-tab-label>
      <img src='assets/home.svg'>
      Home
    </ng-template>
    <div class='tab-content-container'>
      <app-home></app-home>
    </div>
  </mat-tab>
  <mat-tab label="Schedule">
    <ng-template mat-tab-label>
      <img src='assets/event_note.svg'>
      Schedule
    </ng-template>
    <div class='tab-content-container'>
      <app-schedule></app-schedule>
    </div>
  </mat-tab>
  <mat-tab label="Location">
    <ng-template mat-tab-label>
      <img src='assets/map.svg'>
      Location
    </ng-template>
    <div class='tab-content-container'>
      <app-location></app-location>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Food">
    <ng-template mat-tab-label>
      <img src='assets/restaurant.svg'>
      Food
    </ng-template>
    <div class='tab-content-container'>
      <app-food></app-food>
    </div>
  </mat-tab> -->
  <mat-tab label="Questions">
    <ng-template mat-tab-label>
      <img src='assets/chat.svg'>
      Questions
    </ng-template>
    <div class='tab-content-container'>
      <app-questions></app-questions>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Sponsors">
    <ng-template mat-tab-label>
      <img src='assets/attach_money.svg'>
      Sponsors
    </ng-template>
    <div class='tab-content-container'>
      <app-sponsors></app-sponsors>
    </div>
  </mat-tab> -->
  <mat-tab label="Sign Up!">
    <ng-template mat-tab-label>
      <img src='assets/assignment.svg'>
      Sign Up!
    </ng-template>
    <div class='tab-content-container'>
      <app-signup></app-signup>
    </div>
  </mat-tab>
</mat-tab-group>
