span {
  margin-left: 5px;
  @media(max-width: 600px) {
    display: none
  }
}

.mat-tab-nav-bar {
  background: white;
  border-top: 1px solid #ECEFF2;
  display: flex;
  justify-content: center;
}

.mat-tab-link {
  border-bottom: 5px solid transparent;
  min-width: 50px !important;

  @media(max-width: 600px) {
    padding: 0 18px !important;
  }
}

.highlight {
  border-color:rgba(204, 0, 0, 0.5);
}