@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 0 0 10px 0;
}

h2 {
  color: #656565;
}

.rails-img {
  height: 1.2em;
}

.container {
  background: white;
  padding: 20px 10px;
}

.forkme-link {
  position: absolute;
  right: 0;
  z-index: 5;

  @media(max-width: 600px) {
    display: none;
  }
}
