@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

h2 {
  color: #656565;
}

img {
  height: 1.2em;
}

.container {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
