@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
  color: #656565;
}

.container {
  background: #22292f;
}

.forkme-link {
  position: absolute;
  right: 0;
  z-index: 5;

  @media(max-width: 600px) {
    display: none;
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 300px;
}
