<div class='card'>
  <div class='title'>Questions</div>
  <div class='line'></div>
  <h3>Is it too late to sponsor this event?</h3>
  <p>Definitely not! If you would be interested in sponsoring this event please contact Kimberly Collins at kcollins@techlahoma.org.</p>

  <h3>Is there a cost associated with attending this event?</h3>
  <p>Thanks to our generous sponsors this networking event is free for all attendees. 
  </p>
  <h3>What should I wear to this event?</h3>
  <p>We recommend business casual attire for this event.</p>
  <h3>Is there a code of conduct?</h3>
  <p>Yes! This event will adhere to <a href='https://www.techlahoma.org/code-of-conduct/'>Techlahoma's Code of Conduct</a>.

</div>
