<div class="card alert">
  <p>Contact the event organizers if your company or organization is interested in a sponsor booth.</p>
</div>

<div class='card'>
  <div class='title'>Sponsors</div>
  <div class='line'></div>
  
  <p>We would like to thank our sponsors for making this networking event possible.</p>
  <a href="https://ruralsourcing.com">
    <img class='sponsor' src='assets/RSI.png' alt='Rural Sourcing'>
  </a>
  
  <a href="https://clevyr.com/" >
    <img class='sponsor' src="assets/clevyr.png" alt="Clevyr">
  </a>
  <a href="https://americanfidelity.com/" >
    <img class='sponsor' src="assets/american-fidelity.png" alt="American Fidelity">
  </a>
  <a href="https://www.deepforktechnology.com/" >
    <img class='sponsor' src="assets/deep_fork_tech_logo.png" alt="Deep Fork">
  </a>
  <a href="https://www.powercosts.com/" >
    <img class='sponsor' src="assets/power-costs-inc.png" alt="PCI">
  </a>
  <a href="https://www.life.church/" >
    <img class='sponsor' src="assets/life-church.png" alt="Life Church">
  </a>
  <a href="https://saxum.com/" >
    <img class='sponsor' src="assets/saxum.svg" onerror="" alt="Saxum">
  </a>
  <a href="https://www.tailwindapp.com/" >
    <img class='sponsor' src="assets/tailwind.png"  alt="Tailwind">
  </a>
  <a href="https://rack59.com/" >
    <img class='sponsor' src="assets/rack59.jpg"  alt="Rack59">
  </a>
  <a href="https://liquid.fish/" >
    <img class='sponsor' src="assets/liquidfish.svg"  alt="liquidfish">
  </a>
  <a href="https://www.simiancraft.com/" >
    <img class='sponsor' src="assets/simiancraft.jpg"  alt="simiancraft">
  </a>
</div>

<div class='card'>
  <div class='row'>
    <a href="http://project3810.com">
      <img class='sponsor' src='assets/project-3810-logo.png' alt='Project 3810'>
    </a>
    <a href="https://www.techlahoma.org">
      <img class='sponsor' src='assets/techlahoma_horizontaltext.png' alt='Techlahoma'>
    </a>
  </div>
</div>

