<div class='card'>
  <div class='title'>Sponsors</div>
  <div class='line'></div>
  <p>We're looking for companies to cover the costs of this workshop so that it will be free for attendees. The following are the sponsorship levels for this event:</p>
  <ul>
    <li>
      $250 - Logo on workshop slides and website
    </li>
    <li>
      $500 - Logo on workshop slides and website, and company-provided materials placed at registration table.
    </li>
    <li>
      $750 - Logo on workshop slides and website, company-provided materials placed at registration table, and 5 minutes to discuss your company with the attendees.
    </li>
  </ul>
  <p>Contact one of the event organizers if your company is interested in sponsoring!</p>
</div>

<div class='card'>
  <a href="https://ruralsourcing.com">
    <img class='sponsor' src='assets/RSI.png' alt='Rural Sourcing'>
  </a>
</div>

<div class='card'>
  <a href="https://moonswitch.com/">
    <img class='sponsor' src='assets/moonswitch.png' alt='Moonswitch'>
  </a>
</div>

<div class='card'>
  <div class='row'>
    <a href="http://project3810.com">
      <img class='sponsor' src='assets/project-3810-logo.png' alt='Project 3810'>
    </a>
    <a href="https://www.techlahoma.org">
      <img class='sponsor' src='assets/techlahoma_full_square.png' alt='Techlahoma'>
    </a>
  </div>
</div>
