<div class='card'>
  <div class='title'>Sponsors</div>
  <div class='line'></div>
  <p>Thank you to the sponsors that are covering the costs of this workshop so that it will be free for attendees!</p>
  <a href="https://www.tailwindapp.com/">
    <img class='sponsor' src='assets/tailwind.jpg' alt='Tailwind'>
  </a>
  <a href="https://ruralsourcing.com">
    <img class='sponsor' src='assets/RSI.png' alt='Rural Sourcing'>
  </a>
  <a href="https://moonswitch.com/">
    <img class='sponsor' src='assets/moonswitch.png' alt='Moonswitch'>
  </a>
</div>

<div class='card'>
  <div class='row'>
    <a href="http://project3810.com">
      <img class='sponsor' src='assets/project-3810-logo.png' alt='Project 3810'>
    </a>
    <a href="https://www.techlahoma.org">
      <img class='sponsor' src='assets/techlahoma_horizontaltext.png' alt='Techlahoma'>
    </a>
  </div>
</div>