<div class='card'>
  <div class='title'>Welcome!</div>
  <div class='line'></div>
  <p>
    Women are underrepresented in the tech market. We want to change that. The Rails OKC Workshop is an event for <em>women attendees only</em> that serves as an introduction to web development. Our goal is to provide a supportive, welcoming environment that empowers women to become developers, designers, engineers, or simply spark a new hobby. Using the powerful Ruby on Rails framework, attendees will learn how to build their very own websites. We hope that you will join us.
  </p>
  <p>5:30 pm - 7:30 pm on Friday, March 29, 2019</p>
  <p>9:30 am - 5:30 pm on Saturday, March 30, 2019</p>
  <p>
    <a href='https://project3810.com/'>Project 3810</a><br>
    3810 N Tulsa Ave<br>
    Oklahoma City, OK
  </p>
</div>

<div class='card'>
  <div class='header'>
      <img class='avatar' src='assets/kimberly-collins.png'>
      <div class='title-box'>
        <div class='name'>Kimberly Collins</div>
        <div class='sub-title'>Organizer</div>
    </div>
  </div>
  <div class='line'></div>
  <p>
    Kimberly is a C#.NET/SQL Server consultant with over a decade of experience in software development. She's on the board of directors for Techlahoma and is very involved in the local tech community. Kimberly has been an attendee and coach at past Rails workshops and is excited about organizing this one!
  <p>
</div>

<div class='card'>
  <div class='header'>
      <img class='avatar' src='assets/ryan-labouve.png'>
      <div class='title-box'>
        <div class='name'>Ryan LaBouve</div>
        <div class='sub-title'>Co-Organizer</div>
    </div>
  </div>
  <div class='line'></div>
  <p>
    Developer for the open web, mostly Ember.js, Rails, and Javascript. Enjoys lifting heavy things, automating annoying tasks, and contemplating life while in the sauna.
  </p>
</div>

<div class='card'>
  <div class='header'>
      <img class='avatar' src='assets/john-mosesman.png'>
      <div class='title-box'>
        <div class='name'>John Mosesman</div>
        <div class='sub-title'>Co-Organizer</div>
    </div>
  </div>
  <div class='line'></div>
  <p>
      John has been doing web development for almost 8 years now, and he has been a huge fan of Ruby from the beginning. He organizes the OKC Ruby group and loves helping people get started in programming (and Ruby!).
  </p>
</div>

<div class='card'>
  <div class='header'>
      <img class='avatar' src='assets/austin-keeton.png'>
      <div class='title-box'>
        <div class='name'>Austin W Keeton</div>
        <div class='sub-title'>Co-Organizer</div>
    </div>
  </div>
  <div class='line'></div>
  <p>
    Austin works as a software engineer at Legal Shield. He started programming 3 years ago with the dream that he would one day be a developer. Now that it has come true, he is passionate about helping other people realize their dreams.
  </p>
</div>
