@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background: #f1f5f8;
  font-family: Roboto, Arial, sans-serif;
  color: #22292f;
  margin: 0;
}

.button {
  background: #673AB7;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 250px;

  @media(max-width: 600px) {
    width: 100%;
  }
}

p {
  font-size: 1.2em;
}

li {
  font-size: 1.1em;
}

.version-info {
  float: right;
  font-size: 8pt;
}

.content {
  align-items: flex-start;
  display: flex;
  justify-content: center;

}

.card {
  background: white;
  box-shadow: 0 0 10px 0 rgba(202, 202, 202, 0.5);
  margin: 30px;
  max-width: 800px;
  padding: 20px;

  @media(max-width: 600px) {
    margin: 5px;
  }

  .avatar {
    border-radius: 100%;
    margin-right: 10px;
    width: 60px;
  }

  .header {
    align-items: center;
    display: flex;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
  }

  .line {
    background: #ECEFF2;
    height: 2px;
    margin: 10px 0px 10px 0px;
    width: 100%;
  }

  .name {
    font-size: 1.2em;
    font-weight: bold;
  }
}
